/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './styles/fonts.css';

@theme {
   --color-main: #f27732;
   --color-second: #0e2953;
   --color-contrast: #319fa1;
   --font-inter: 'Inter', sans-serif;
}

* {
   @apply font-inter;
}
